body {
  overflow-x: hidden;
}

section ul {
  list-style-type: square;
}

section ul li {
  color: #000;
  font-size: 20px;
}

section ul li a {
  color: #000;
}

section .container {
  padding: 40px 0;
}

section .container .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

section .container .gallery .box {
  width: 350px;
  height: 280px;
}

section .container .gallery .box a img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

section .container .gallery .box h4 {
  font-weight: 400;
  margin: 0;
  font-size: 20px;
}

@media (max-width: 1024px) {
  section .container .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  section .container .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  section .container .gallery .box {
    width: 450px;
    height: 380px;
  }

  section .container .gallery .box a img {
    width: 450px;
    height: 350px;
  }
}

@media (max-width: 480px) {
  section .container .gallery {
    gap: 30px;
  }

  section .container .gallery .box {
    width: 350px;
    height: 280px;
  }

  section .container .gallery .box a img {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 320px) {
  section .container .gallery {
    gap: 50px;
  }

  section .container .gallery .box {
    width: 250px;
    height: 180px;
  }

  section .container .gallery .box a img {
    width: 250px;
    height: 150px;
  }
}
