* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/blucerchiato_orizzontale.png");
  background-position: center;
  width: 100%;
  height: 150px;
}

header img {
  margin: 0 10px;
  user-select: none;
}

header img:nth-child(2) {
  width: 130px;
  height: 130px;
}

header img:nth-child(1),
header img:nth-child(3) {
  width: 200px;
  height: 100px;
}

nav {
  background-color: #000;
  user-select: none;
}

nav #menu {
  display: none;
}

nav label {
  display: none;
  cursor: pointer;
  padding: 15px;
  font-size: 24px;
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  transition: all ease 0.1s;
  color: #fff;
}

nav ul li a#current {
  color: #edc843;
  font-weight: bold;
}

nav ul li a:hover {
  color: #aaa;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section h1 {
  font-size: 50px;
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

section h4 {
  font-size: 20px;
  width: 800px;
  font-weight: 200;
  margin: 10px 0;
}

section h4 a {
  font-weight: 200;
  color: #000;
}

@media (max-width: 1024px) {
  section h4 {
    width: 600px;
  }
}

@media (max-width: 768px) {
  header img {
    margin: 0;
  }

  header img:nth-child(1),
  header img:nth-child(3) {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  nav label {
    display: block;
    color: #fff;
  }

  nav label .fa-solid.fa-xmark,
  nav label .fa-solid.fa-bars {
    display: none;
  }

  nav #menu:not(:checked) ~ label .fa-solid.fa-bars {
    display: block;
  }

  nav #menu:checked ~ label .fa-solid.fa-xmark {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 100%;
  }

  nav #menu:checked ~ ul {
    display: flex;
  }

  nav ul li a {
    padding: 20px;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  header {
    height: 120px;
    background-size: cover;
  }

  header img:nth-child(2) {
    width: 100px;
    height: 100px;
  }

  section h4 {
    width: 480px;
  }
}

@media (max-width: 480px) {
  section h1 {
    font-size: 40px;
  }

  section h4 {
    width: 320px;
  }
}

@media (max-width: 320px) {
  section h1 {
    font-size: 30px;
  }

  section h4 {
    width: 200px;
  }
}
