section .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

section .container .box {
  margin: 5px;
}

section .container .box .img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

section .container .box .img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s ease;
}

section .container .box .img:hover img {
  transform: scale(1.5);
}

section .container .box h2 {
  font-weight: 100;
  max-width: 200px;
  margin-top: 5px;
  font-size: 22px;
}

@media (max-width: 1024px) {
  section .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  section .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  section .container {
    grid-template-columns: repeat(1, 1fr);
  }

  section .container .box {
    text-align: center;
  }
}
